<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gif-ify the News!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Gif-ify the News</h1>
        <em>The Modern Way to Consume #RealFacts</em>
        <p> A Hack by Mark Abramov, Leila Mardoum, and Nellie Spektor </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a href="category/sports" class="btn btn-info" role="button">Sports</a>
          <div style="width:100%;height:0;padding-bottom:53%;position:relative;"><iframe src="https://giphy.com/embed/3o7btR7AIrwtkHOacg" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="category/sports"></a></p>
        </div>
        <div class="col-sm-4">
          <a href="category/politics" class="btn btn-info" role="button">Politics</a>
          <div style="width:100%;height:0;padding-bottom:55%;position:relative;"><iframe src="https://giphy.com/embed/l2JhJTOnLk1aX4gG4" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="/category/politics"></a></p>
        </div>
        <div class="col-sm-4">
          <a href="category/tech" class="btn btn-info" role="button">Tech</a>
          <div style="width:100%;height:0;padding-bottom:74%;position:relative;"><iframe src="https://giphy.com/embed/CTX0ivSQbI78A" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="/category/tech"></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a href="category/world" class="btn btn-info" role="button">World</a>
          <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/3o7aTsuMiDzGq1w80g" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="/category/world"></a></p>
        </div>
        <div class="col-sm-4">
          <a href="category/food" class="btn btn-info" role="button">Food</a>
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3ohzdFCn9mYfmuAmEU" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="/category/food"></a></p>
        </div>
        <div class="col-sm-4">
          <a href="category/science" class="btn btn-info" role="button">Science</a>
          <div style="width:100%;height:0;padding-bottom:70%;position:relative;"><iframe src="https://giphy.com/embed/138Txfv1ixqDM4" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="/category/science"></a></p>
        </div>
      </div>
    </div>
  </body>
</html>
